# IntelliJ IDEA configurations
.idea/
*.iml

# Locked Pipfile (nonlocked version not ignored)
Pipfile.lock

# Downloaded data
data/

# environment file containing production Zoltar username and password
zoltar.env

# scratch python (playground)
scratch.py

# pycache
*/__pycache__
